<!-- start Simple Custom CSS and JS -->
<style type="text/css">
#page{
background-image: linear-gradient(#B7E4C7 15%, white);
    background-repeat: no-repeat;	
}

#colophon{
	height:10%;
	background-color:white;
}
</style>
<!-- end Simple Custom CSS and JS -->
